#wrapper {
    @extend %grid;
}


// header

#page-header {
    @extend %grid-cell;
    display: flex;
    flex-direction: row;
    padding: 1.5em 2em .75em;
}

    #introduction,
    #contact-info {
        align-self: flex-end;
    }

    #introduction {
        flex: 1 1 auto;
    }

    #contact-info {
        flex: 0 1 auto;
    }


// main sections

section {
    @extend %grid-cell;
    padding-bottom: 1em;

    > %heading-style {
        @extend %section-delimiter;
        padding-top: .75em;
    }
}

#bio-section {
    @extend %grid-cell-2of3;
}

#education-section {
    @extend %grid-cell-1of3;
}


// components

.skills,
.skills-axis {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: flex-end;
}

.skill,
.skill-axis {
    display: block;
    position: relative;
    flex: 1 1 0;
    text-align: center;
}

.skills-axis {
    margin-top: -0.05rem;
}

.skill {
    @extend %subheading-style;
    height: 4em;
}

.skill:nth-child(2n) {
    height: 2.5em;
}

.skill-axis {
    @extend %h3;
    padding: 1em 1em 0;
}

.skill:before,
.skill:after {
    position: absolute;
    content: ' ';
    display: block;
}

.skill::before {
    @extend %skill-connector;
    top: 1.5em;
    left: calc(50% - 0.05rem);
    bottom: 0;
}

.skill:after {
    @extend %skill-dot;
    width: 0;
    height: 0;
    border-radius: 50%;
    left: calc(50% - 0.2rem);
    bottom: -0.2rem;
}

// %skill-separator {
//     content: '/';
//     margin: 0 .5em 0 .25em;
// }

// .skill + .skill::before {
//     @extend %skill-separator;
// }

.skills-axis {
    :before {
        content: ' ';
        display: block;

    }
}

#jobs {
    padding-top: 1rem;
}

.job {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: .25em;
    grid-template-columns: 6.66em .5em auto 1fr;
    grid-template-areas:
        "duration divider employer position"
        "duration divider tags tags"
        "duration divider body body";
    padding-bottom: 1em;

    &:before,
    &:after {
        content: ' ';
        display: block;
        grid-area: divider;
        text-align: center;
    }

    &:before {
        height: calc(100% + 1em);
        transform: translate(0.2em, .5em);
        width: .1rem;
    }

    &:after {
        width: .5em;
        height: .5em;
        transform: translate(0, .25em);
        border-radius: 50%;
    }
}

.job:last-child {
    padding-bottom: 0;

    &:before {
        height: 100%;
    }

}

.school__duration,
.job__duration {
    margin-bottom: .25em;
}

.job__duration {
    grid-area: duration;
    text-align: right;
}

.job__employer {
    margin-bottom: 0;
    grid-area: employer;
}

.job__position {
    margin-bottom: 0;
    grid-area: position;
}

.job__tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    grid-area: tags;

    > li {
        text-transform: uppercase;
    }

    > li + li {
        margin-left: 0.25rem;
    }
}

.job__description {
    grid-area: body;
}


// footer

#page-footer {
    @extend %grid-cell;
    text-align: right;
}
