@import 'https://fonts.googleapis.com/css?family=Montserrat|PT+Sans';

$heading-font-family: "Montserrat", "Trebuchet MS", Arial;
$body-font-family: "PT Sans", Arial;


// font styles

%body-style {
    font-family: $body-font-family;
}

%main-title-style {
    font-family: $heading-font-family;
    font-weight: normal;
    // font-variant: small-caps;
}

%main-subtitle-style {
    font-family: $heading-font-family;
}

%heading-style {
    font-weight: normal;
}

%subheading-style {
    font-weight: 500;
}

%heading-style,
%head-style {
    font-family: $heading-font-family;
}

%head-style,
%main-subtitle-style {
    text-transform: uppercase;
}

%head-style {
    font-weight: bold;
}


// rhythm

%h1 {
    font-size: 2em;
    line-height: 1;
    margin: 0;
    margin-bottom: .25em;
}

%h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: 0 0 1em;
    font-weight: normal;
    text-transform: lowercase;
}

%h3 {
    font-size: 1em;
    line-height: 1;
    margin: 0 0 .5em;
}

#introduction > .subtitle {
    font-size: 1.25em;
    margin: 0;
}

.school__duration,
.job__duration,
.job__tags,
#page-footer {
    font-size: .88em;
}


// styling

body {
    @extend %body-style;
}

#introduction > .title {
    @extend %main-title-style;
}

#introduction > .subtitle {
    @extend %main-subtitle-style;
}

h1 {
    @extend %h1;
}

h2 {
    @extend %heading-style;
    @extend %h2;
}

h3 {
    @extend %heading-style;
    @extend %h3;
}

.skill {
    font-family: $heading-font-family;
}

.skill-axis {
    letter-spacing: 0.1em;
}

.school__degree {
    @extend %subheading-style;
}

.job__position {
    @extend %h3;
    font-weight: bold;

    &:before {
        content: '/';
        display: block;
        float: left;
        font-size: 1.5em;
        line-height: 1;
        transform: translate(-0.25em, -0.25em);
        font-weight: normal;
    }
}

.school__duration,
.job__duration {
    @extend %head-style;
}

.job__tags > li + li:before {
    content: '•';
    margin-right: 0.25rem;
}
